@model IList<Modelos.Despesas>
@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>
                    Confirma a exclusão dessa Despesa?
                    <button type="button" class="btn btn-primary" id="BtnExcluir">Excluir</button>
                </h4>
            </div>
        </div>
        <table class="table table-bordered" id="tab1">
            <thead>
                <tr>
                    <th width="80px"><img src="~/Content/Images/Fini-Abriu_XS.png" width="75px" /></th>
                    <th><h5>RDV</h5></th>
                    <th><h5 id="codigoDespesa">@Model.First().CodigoDespesa</h5></th>
                    <th><h5 class="text-right">Data de inclusão</h5></th>
                    <th><h5 class="text-right">@Model.First().DataInclusao</h5></th>
                </tr>
                <tr>
                    <th><h5>C.C.</h5></th>
                    <th colspan="4"><h5>@Model.First().CentroDeCusto.Descricao</h5></th>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" id="despesas">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Data de Inclusão</th>
                    <th>Aprovação</th>
                    <th>Reprovação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.Descritivo</td>
                        <td>@d.Quantidade</td>
                        <td>@d.Valor</td>
                        <td>@d.Tipo.Descricao</td>
                        <td>@d.DataInclusao</td>
                        <td>@d.DataAprovacao</td>
                        <td>@d.DataReprovacao</td>

                    </tr>
                }
                <tr>
                    <td colspan="5"></td>
                    <td><h6>Total Aprovado</h6></td>
                    <td><h6><div id="total"></div></h6></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < ViewBag.arquivos.Count; i++)
            {
                <img src="@ViewBag.arquivos[i].FullPathRelativo" class="img-responsive" />
            }

        </div>
    </div>
</div>
</div>


@section Scripts{
    <script>
        var urlDest = "@Url.Action("Exclui", "Despesas")";
        var urlRedirect = "@Url.Action("Index", "Despesas")";
    </script>
    <script src="~/Scripts/Visualizar/Visualizar.js"></script>
    <script src="~/Scripts/Despesas/Despesas.Exclui.js"></script>
}

