@model IList<ControleDeDespesas.Models.Despesas>
@using X.PagedList.Mvc;
@using X.PagedList;
 
    <div class="thumbnail">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="container container-fluid">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Despesas  <span class="label label-default">@ViewBag.DespesasCount</span></h5>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Data de Inclusão</th>
                                    <th>Centro de Custo</th>
                                    <th>Descritivo</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                    <th>Aprovado Em</th>
                                    <th colspan="4" class="text-center">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dep in Model)
                                {
                                    <tr>
                                        <td>@dep.CodigoDespesa</td>
                                        <td>@dep.DataInclusao</td>
                                        <td>@dep.CentroDeCusto</td>
                                        <td>@dep.Descritivo</td>
                                        <td>@dep.Quantidade</td>
                                        <td>@dep.Valor</td>
                                        <td>@dep.DataAprovacao</td>
                                        <td><a href="#"> <span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        <td><a href="#"><span class="glyphicon glyphicon-print"></span></a></td>
                                        <td><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td><a href="#"><span class="glyphicon glyphicon-erase"></span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        @Html.PagedListPager((IPagedList)ViewBag.UmaPaginaDeDespesas, pagina => Url.Action("Index", new { pagina }))    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{  }