@model IList<Modelos.Despesas>
@using X.PagedList
@using X.PagedList.Mvc





<div id="LoadMenu"></div>


<div class="row">
    <div class="container-fluid">
        <div class="col col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Depesas <span class="label label-default">@ViewBag.DespesasCount</span></h5>
                </div>
                <div class="panel-body">
                    <div class=" table-responsive">
                        
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Tipo</th>
                                    <th>Data de Inclusão</th>
                                    <th>Centro de Custo</th>
                                    <th>Descritivo</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                    <th>Aprovado Em</th>
                                    <th>Reprovado</th>
                                    <th>Motivo</th>
                                    <th colspan="3" class="text-center">Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dep in Model)
                                {
                                    <tr>
                                        <td>@dep.CodigoDespesa</td>
                                        <td>@dep.Tipo.Descricao</td>
                                        <td>@dep.DataInclusao</td>
                                        <td>@dep.CentroDeCusto.Descricao</td>
                                        <td>@dep.Descritivo</td>
                                        <td>@dep.Quantidade</td>
                                        <td>@dep.Valor</td>
                                        <td>@dep.DataAprovacao</td>
                                        <td>@dep.DataReprovacao</td>
                                        <td>@dep.MotivoRecusa</td>
                                        <td><a href=@Url.Action("Visualizar","Despesas",new { id = @dep.CodigoDespesa }) target="_blank"> <span class="glyphicon glyphicon-eye-open"></span></a></td>
                                        <td><a href="#" id="editDespesa"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td><a href="@Url.Action("Excluir","Despesas",new { id = @dep.CodigoDespesa })" id ="eraseDespesa"><span class="glyphicon glyphicon-erase"></span></a></td>                                        
                                    </tr>                                        
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.PagedListPager((IPagedList) ViewBag.UmaPaginaDeDespesas, pagina => Url.Action("Index", new { pagina }))                    
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

</br></br></br>
        
@section Scripts{
    <script>    
        // criar a tag  ==>  <div id="LoadMenu"></div> <==  para carregar o menu na página
        var urlGetMenu = "@Url.Action("GetByLocation", "Menu")";
    </script>
    <script src="~/Scripts/Tools/MenuBuilder.Loader.js"></script>

}