@model IList<MenuControl.Models.MenuItem>
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>
        Controle de Menus
    </legend>
    @Html.ActionLink("Incluir","Create","MenuBuilder")
</fieldset>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Descripion</th>
                        <th>Controller</th>
                        <th>Action</th>
                        <th>UserRole</th>
                        <th>Editar</th>
                        <th>Ecluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in @Model)
            {
                        <tr>
                            <td>@m.Id</td>
                            <td>@m.Code</td>
                            <td>@m.Description</td>
                            <td>@m.Controller</td>
                            <td>@m.Action</td>
                            <td>@m.UserRole</td>
                            <td>@Html.ActionLink("Editar", "Edit", "MenuBuilder", new { id = m.Id }, "POST") </td>
                            <td>@Html.ActionLink("Apagar", "Delete", "MenuBuilder", new { id = m.Id }, "POST")</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>