@model ControleDeDespesas.Models.Despesas

<div class="form-group">
    @Html.LabelFor(d => d.Tipo, "Tipo")
    @Html.DropDownListFor(d => d.Tipo, new SelectList(ViewBag.TiposDeDespesa, "Id", "Descricao"), new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(d => d.Quantidade, "Quantidade")
    @Html.TextBoxFor(d => d.Quantidade, new { @class = "form-control", @type = "numeric" })
</div>

<div class="form-group">
    @Html.LabelFor(d => d.Valor, "Valor")
    @Html.TextBoxFor(d => d.Valor, new { @class = "form-control", @type = "numeric" })
</div>
<div class="form-group">
    @Html.LabelFor(d => d.Descritivo, "Descritivo")
    @Html.TextAreaFor(d => d.Descritivo, new { @class = "form-control" })
</div>

@*<div class="form-group">
        @Html.LabelFor(d => d.Attachment, "Anexo")
        @Html.TextBoxFor(d=> d.Attachment, new { @class = "", type="file" })

    </div>*@






