@model Modelos.Despesas
<div class="form-group">
    @Html.LabelFor(d => d.Tipo, "Tipo")    
    @Html.DropDownList("ListTiposDespesas",null,String.Empty,new { @class = "form-control", id="Tipo"})
    
</div>
<div class="form-group">
    @Html.LabelFor(d => d.Quantidade, "Quantidade")
    @Html.TextBoxFor(d => d.Quantidade, new { @class = "form-control", @type = "numeric" })
</div>

<div class="form-group">
    @Html.LabelFor(d => d.Valor, "Valor")
    @Html.TextBoxFor(d => d.Valor, new { @class = "form-control", @type = "numeric" })
</div>
<div class="form-group">
    @Html.LabelFor(d => d.Descritivo, "Descritivo")
    @Html.TextAreaFor(d => d.Descritivo, new { @class = "form-control", @placeholder="Insira uma informação relevante aqui..." })
</div>


@section Scripts{
   
}




