@model Modelos.ViewModels.AprovadorPorCCModelView

@Html.HiddenFor(i => i.Id)

<div class="form-horizontal">
    <div class="form-group">
        <div class="col col-sm-6 col-md-10 col-xs-12">
            @Html.LabelFor(a => a.CC, "Centro de Custo")
            @Html.DropDownList("CCLista", null, String.Empty, new { @class = "form-control", id = "CC"})

            @Html.LabelFor(a => a.Usuario, "Usuario Aprovador do Centro de Custo")
            @Html.DropDownList("UsuariosLista", null, String.Empty, new { @class = "form-control", id = "Usuario" })

            @Html.LabelFor(a => a.Superior, "Superior ")
            @Html.DropDownList("SuperiorLista", null, String.Empty, new { @class = "form-control", id = "Superior" })
            

            @Html.LabelFor(a => a.Limite, "Limite de aprovação")
            @Html.TextBoxFor(a => a.Limite, new { @class = "form-control" })

        </div>
    </div>
    <input type="submit" value="Salvar" class="btn btn-default" id="submitAprovadorCC" />    
</div>
