@model Modelos.ViewModels.Autenticacao
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("Autentica", "Home", FormMethod.Post, new { id = "UserPassword" }))
        {
            <div class="col-lg-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
                @Html.LabelFor(l => l.Login, "Login:")
                @Html.TextBoxFor(l => l.Login, new { @class = "form-control", id = "UserLogin" })

                @Html.LabelFor(l => l.Senha, "Senha:")
                @Html.PasswordFor(l => l.Senha, new { @class = "form-control", id = "UserPassword" })
                <p></p>
                <input class="btn btn-primary" type="submit" value="Efetuar Login" />
                <p class="text-center"><div id="result"></div></p>
                
            </div>

                    <div class="col-lg-4 col-sm-4 col-xs-4"></div>
        }
        
    </div>
</div>



@section Scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        $("#UserLogin").focus();

        $(function () {

            $("#UserPassword").on("submit", function (e) {                
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response != null && response.success) {

                            var url = "@Url.Action("Index", "Despesas")";
                            window.location.replace(url);
                        } else {
                            $("#result").html("Login Inválido!");
                        }

                    },
                    error: function (response) {
                        $("#result").html("Login Inválido!");
                    }
                });
            });
        });
    </script>
}