@model IList<Modelos.CadastroDeUsuario>

@{
    ViewBag.Title = "Index";
}


@Html.Partial("/Views/Shared/SubMenus/_MenuUsuarios.cshtml")

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <fieldset>
                <legend>Usuários cadastrados </legend>
            </fieldset>
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Nome</th>
                    <th>É Admin</th>                  
                    <th>Centro de Custo</th>
                    <th>Cpf</th>
                    <th>Regra</th>
                    <th colspan="2">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.Id</td>
                        <td>@u.Login</td>
                        <td>@u.Email</td>
                        <td>@u.Nome</td>
                        <td>@u.IsAdmin</td>                        
                        <td>@u.CentroDeCusto.Descricao</td>
                        <td>@u.Cpf</td>
                        <td>@u.Role</td>
                        <td><a href=@Url.Action("Alterar", "Usuarios", new { id = u.Id })><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href=@Url.Action("Excluir","Usuarios", new { id = u.Id })  ><span class="glyphicon glyphicon-erase"></span></a></td>                        
                    </tr>
                }

            </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{  }