@model Modelos.CadastroDeUsuario




<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(u => u.Nome, "Nome")
            @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(u=> u.Nome, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Login, "Login:")
            @Html.TextBoxFor(u => u.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(u=> u.Login, null, new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(u => u.Senha, "Senha:")
            @Html.PasswordFor(u => u.Senha, new { @class = "form-control" })            
            @Html.ValidationMessageFor(u=> u.Senha,null,new { @class = "text-danger" } )
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Email, "Email:")            
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type="email" })
            @Html.ValidationMessageFor(u=>u.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.IsAdmin, "É Admin?")
            @Html.CheckBoxFor(u => u.IsAdmin)
        </div>
        <div class="form-group">
            @Html.LabelFor(u=> u.IsAprovador, "É Aprovador?")
            @Html.CheckBoxFor(u=>u.IsAprovador)
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.CentroDeCusto, "Centro de Custo:")
            @Html.TextBoxFor(u => u.CentroDeCusto, new { @class = "form-control" })
            @Html.ValidationMessageFor(u=>u.CentroDeCusto, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Cpf, "Cpf:")
            @Html.TextBoxFor(u => u.Cpf, new { @class = "form-control" })
            @Html.ValidationMessageFor(u=> u.Cpf, null, new { @class = "text-danger" })
        </div>
        <input class="btn btn-primary" type="submit" value="Gravar" />
    </div>
    <div class="col-lg-3"></div>
</div>


@section Scripts
{  }