@model IList<Modelos.AprovadorPorCC>

@{
    ViewBag.Title = "Index";
}


@Html.Partial("/Views/Shared/SubMenus/_MenuAprovadorPorCC.cshtml")

<div class="container">
    <fieldset>
        <legend>
            Aprovador Por CC
        </legend>
    </fieldset>
    <div class="row">
        <div class="col col-md-12 col-sm-12">

            <table class="table table-bordered table-responsive">
                <tr>
                    <th>Id</th>
                    <td>Centro de Custo</td>
                    <td>Usuário</td>
                    <td>Superior</td>
                    <td>Limite</td>
                    <td colspan="2">Opções</td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CC.Codigo- @item.CC.Descricao</td>
                        <td>@item.Usuario.Nome.ToString()</td>

                        @if (item.Superior==null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.Superior.Nome</td>
                        }

                        
                        <td>@item.Limite</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
</div>
