@model Modelos.CentroDeCusto

@Html.HiddenFor(c=>c.Id)

<div class="form-group">
    @Html.LabelFor(c=> c.Codigo,"Código")
    @Html.TextBoxFor(c=>c.Codigo,new {@class="form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(c=> c.Descricao,"Descrição")
    @Html.TextBoxFor(c=> c.Descricao, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(c => c.Aprovador, "Aprovador")
    @Html.DropDownList("Aprovador", null,String.Empty, new { @class = "form-control", id = "Aprovador" })
    
</div>