
@{
    ViewBag.Title = "_MenuDespesasPrincipal";
}

<div class="container-fluid">
    <div class="">
        <div class="row">            
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <ul class="nav nav-tabs nav-fill">
                    <li>@Html.ActionLink("Home", "Index", "Despesas")</li>
                    
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Opções<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><span class="glyphicon glyphicon-list-alt">@Html.ActionLink(" Novo", "FrmIncluir", "Despesas")</span></li>
                            @if (ViewBag.IsAdmin)
                            {
                                <li> <span class="glyphicon glyphicon-copy">@Html.ActionLink(" Tipos de Despesas", "Index", "TiposDespesas")</span>  </li>
                                <li> <span class="glyphicon glyphicon-user">@Html.ActionLink(" Usuarios", "Index", "Usuarios")</span>  </li>
                                <li> <span class="glyphicon glyphicon-subtitles">@Html.ActionLink(" Centro de Custo", "Index", "CentroDeCusto")</span>  </li>
                                <li> <span class="glyphicon glyphicon-user">@Html.ActionLink(" Aprovador por CC", "Index", "AprovadorPorCC")</span>  </li>
                            }
                            @if (ViewBag.IsAprovador)
                            {
                                <li>Aprovação</li>
                            }
                        </ul>                    
                    </li>                    
                </ul>                    
            </div>
        </div>
    </div>
</div>
